<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        body {
            background-image: url('/images/fondo1.jpg'); /* Ruta a la imagen de fondo */
            background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
            background-repeat: no-repeat; /* Evita la repetición de la imagen */
            background-attachment: fixed; /* Fija la imagen al fondo mientras se desplaza */
            background-color: #f2f2f2; /* Fondo gris claro en caso de que la imagen no se cargue o no cubra toda la pantalla */
        }

        footer {
            color: white; /* Color del texto en el footer */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Intronix S.A       ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Inicio  ", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Soporte  ", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Configurar Modulo", "ModuleRead", "Module", new { area = "" }, new { @class = "nav-link" })</li>

                </ul>
                 @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Intronix S.A</p>
            <!-- Agrega esto en tu vista Index.cshtml donde deseas mostrar las publicaciones de Facebook -->
            <div id="facebookPagePlugin">
                <!-- Reemplaza 'IntronixCR' con el nombre de tu página de Facebook -->
                <div class="fb-page" data-href="https://www.facebook.com/IntronixCR/" data-tabs="timeline" data-width="500" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/IntronixCR/" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/IntronixCR/">Intronix CR</a>
                    </blockquote>
                </div>
            </div>

            <!-- Incluye el SDK de Facebook JavaScript -->
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
